---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Github from "../icons/Github.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Social from "../components/Social.astro";
import Mail from "../icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCase from "../icons/BriefCase.astro";
import Code from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Certification from "../components/Certification.astro";
---

<Layout
  title="Portfolio Nicolay - Desarrollador y Programador"
  description="Contrata a Nicolay para la creación de diferentes tipos de aplicaciones únicas"
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full w-12 h-12 mb-4"
        src="https://github.com/Rakkun9.png"
        alt="personal photo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, Soy Nicolay <a
          href="https://www.linkedin.com/in/nicolaybuitrago"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge></a
        >
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>6 meses de experiencia.</span><span class="text-yellow-200/90">
          Desarrollador Fullstack</span
        ><span class="text-red-200/90">
          y Estudiante de Ingenería de Software.
        </span>
        <span class="opacity-75">
          Especializado en buscar las mejores soluciones.</span
        >
        <!-- Quit the span to get back the white text -->
      </h2>
      <nav class="flex gap-4 mt-8 flex-wrap">
        <Social href="https://www.linkedin.com/in/nicolaybuitrago">
          <LinkedIn class="size-4 md:size-6" />LinkedIn
        </Social>
        <Social href="https://www.github.com/Rakkun9/">
          <Github class="size-4 md:size-6" />Github
        </Social>
        <Social href="mailto:jnicolaybv@gmail.com">
          <Mail class="size-4 md:size-6" />jnicolaybv@gmail.com
        </Social>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefCase class="size-7" /> Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Code class="size-7" /> Proyectos
      </h2>
      <Projects />
    </SectionContainer> 
    <SectionContainer id ="certificaciones">
      <Certification>
        
      </Certification>
    </SectionContainer>
    <SectionContainer id="contacto">
      <Contact >
      </Contact>
    </SectionContainer>
    
  </main>
</Layout>
