<section>
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-center text-white"
    >
      Contacto
    </h2>
    <p class="mb-8 lg:mb-16 font-light text-center text-white sm:text-xl">
      <span>¿Tienes un proyecto en mente?</span>
      <span class="text-yellow-200/90">¿Quieres hablar de oportunidades?</span>
      <span> </span>
      <span class="text-sky-200/80"> ¿Necesitas más información? </span> ¡Ponte en
      contacto conmigo!
    </p>
    <form action="#" class="space-y-8">
      <div>
        <label for="email" class="block mb-2 text-sm font-medium text-white"
          >Correo</label
        >
        <input
          type="email"
          id="email"
          class="shadow-sm bg-[#091723] border border-[#2A4979] text-white text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
          placeholder="Nombre@mail.com"
          required
        />
      </div>
      <div>
        <label for="subject" class="block mb-2 text-sm font-medium text-white"
          >Titulo</label
        >
        <input
          type="text"
          id="subject"
          class="block p-3 w-full text-sm text-white bg-[#091723] rounded-lg border border-[#2A4979] shadow-sm focus:ring-primary-500 focus:border-primary-500"
          placeholder="Déjame saber en qué te puedo ayudar"
          required
        />
      </div>
      <div class="sm:col-span-2">
        <label for="message" class="block mb-2 text-sm font-medium text-white"
          >Mensaje</label
        >
        <textarea
          id="message"
          rows="6"
          class="block p-2.5 w-full text-sm text-white bg-[#091723] rounded-lg shadow-sm border border-[#2A4979] focus:ring-primary-500 focus:border-primary-500"
          placeholder="..."></textarea>
      </div>
      <button
        type="submit"
        class="py-3 px-5 text-sm font-medium text-center text-white bg-[#091723] rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300"
        >Enviar mensaje</button
      >
    </form>
  </div>
</section>
