---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Septiembre 2024 - Actualidad",
    title: "Analista de desarrollo y soporte de aplicaciones",
    description:
      "Responsable del ciclo de vida completo del software, desde el análisis hasta el despliegue. He optimizado la documentación técnica mediante diagramas UML y garantizado la estabilidad de aplicaciones críticas internas, impactando positivamente en la producción y comunicación con clientes.",
    link: "",
  },
  {
    date: "Febrero 2024 - Julio 2024",
    title: "Desarrollador Web - Proyecto Independiente (Groc)",
    description:
      "Desarrollo integral de una plataforma e-commerce con procesamiento de pagos eficiente. Configuré el entorno de producción y optimicé el flujo de transacciones utilizando tecnologías como WordPress, WooCommerce y JavaScript.",
    link: "",
  },
  {
    date: "Agosto 2023 - Febrero 2024",
    title: "Practicante de desarrollo",
    description:
      "Diseñé y desarrollé un sistema de inventario FullStack personalizado para soporte técnico y atención al cliente. Logré una mejora del 40% en la actualización de seguridad (antivirus) de la sede Bogotá y optimicé el control de activos de la compañía.",
    link: "",
  },
];
---

<ol class="relative border-s border-gray-200">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
