---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Agosto 2023 - Febrero 2024",
    title: "Practicante de desarrollo",
    description:
      "Trabajé en un sistema de inventario personalizado para la compañía en cuestión, el sistema de inventario estaba dirigido tanto como al cliente, y también dirigido al área de soporte técnico. Estuve encargado de desarrollar componentes tanto del Front como del Back. Mejoré un 40% en la actualización del antivirus de toda la sede en bogotá. Se logró mejorar los tiempos de entrega de equipos y el control de activos de la compañía para cada usuario.",
    link: "", 
  },
  // If want to not put the button just dont put anything inside the link
  // {
  //   date: "Agosto 2023",
  //   title: "Practicante de desarrollo",
  //   description:
  //     "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia",
  //   link: "#",
  // },
  // {
  //   date: "Agosto 2023",
  //   title: "Practicante de desarrollo",
  //   description:
  //     "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia",
  //   link: "#",
  // },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
